{% extends '00.base.html' %}
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    


{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Yo {{ name }} - {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        
    {% endfor %}

    {% if name %}
        <h1>yo! {{ name }}!!</h1>
    {% else %}
        <h1>User List</h1>
        <br/>
        <form method="POST">
            {{ form.hidden_tag() }}

            {{ form.name.label(class='form-label') }}
            {{ form.name(class='form-control') }}

            {{ form.email.label(class='form-label') }}
            {{ form.email(class='form-control') }}
            <br/>
            {{ form.submit(class='btn btn-primary') }}

        </form>

        <br>
        {% for here_users in here_users %}
            {{ here_users.id }}. <a href="{{ url_for('update', id=here_users.id)}}">{{here_users.name}}</a> - {{here_users.email}} <br/>
        {% endfor %}
        <br/>

        {% endif %}


    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/.main.js') }}"></script>

{% endblock %}